body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url('star.jpg');
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;

}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid white;

  border-radius:10px;
  position:absolute;
}
.pilot{
  background-image: url('jet1.png');
  position:absolute;
   
}
.earth{
  background-image: url('Earth.png');
  position: absolute:
}
.asteroid{
  background-image: url('Rock_asteroid.png');
  position: absolute;
}